<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.gstatic.com">

	<title>LoRa Application</title>

	<link href="../static/static/css/main.css" rel="stylesheet">
	<link href="../static/static/css/app.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" style="text-decoration: none" href="/">
          <span class="align-middle">LoRa Application</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Water Tank
					</li>
					    {% if  page=="deviceswt"%}
                            <li class="sidebar-item active">
                        {% else %}
                            <li class="sidebar-item">
                        {% endif %}

                    <a class="sidebar-link" href="/devices/WT">
              <i class="align-middle" data-feather="smartphone"></i> <span class="align-middle">Devices</span>
            </a>
					</li>

					    {% if  page=="packetswt"%}
                            <li class="sidebar-item active">
                        {% else %}
                             <li class="sidebar-item">
                        {% endif %}

                    <a class="sidebar-link" href="/packets/WT">
              <i class="align-middle" data-feather="package"></i> <span class="align-middle">Packets</span>
            </a>
					</li>

                    <li class="sidebar-header">
						GPS Tracker
                    </li>
                        {% if  page=="devicesgps"%}
                             <li class="sidebar-item active">
                        {% else %}
                             <li class="sidebar-item">
                        {% endif %}
						<a class="sidebar-link" href="/devices/GPS">
              <i class="align-middle" data-feather="smartphone"></i> <span class="align-middle">Devices</span>
            </a>
					</li>
                        {% if  page=="packetsgps"%}
                            <li class="sidebar-item active">
                        {% else %}
                            <li class="sidebar-item">
                        {% endif %}
						<a class="sidebar-link" href="/packets/GPS">
              <i class="align-middle" data-feather="package"></i> <span class="align-middle">Packets</span>
            </a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="main">

            {% block body %}{% endblock %}

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a class="text-muted" href="/" target="_blank"><strong>Lora Application</strong></a> - <a class="text-muted" target="_blank"><strong></strong></a>								&copy;
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
</body>
<script src="../static/static/js/app.js"></script>
<script src="../static/static/js/script.js"></script>
</html>